{% extends "base.html" %}
{% block content %}

<div class="container-zone mt-5 justify-content-center mx-5">
  <h2 class="text-danger text-center">{{ 'Edit' if customer else 'Add' }} Customer</h2>
  <!--form for add or edit customer-->
  <!-- Modal for Success Message -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="successModalLabel">Success!</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    Customer has been successfully added.
  </div>
</div>
</div>
</div>
<!--form for adding customer-->
  <form action="{{ url_for('add_edit_customer') }}" method="post" class="m-5 needs-validation novalidate">
      <div class="mb-3">
          <label for="firstname" class="form-label text-light">First Name</label>
          <input type="text" class="form-control" id="firstname" name="firstname" value="{{ customer[1].firstname if customer else '' }}" required>
      </div>
      <div class="mb-3">
          <label for="familyname" class="form-label text-light">Family Name</label>
          <input type="text" class="form-control" id="familyname" name="familyname" value="{{ customer[2].familyname if customer else '' }}" required>
      </div>
      <div class="mb-3">
          <label for="email" class="form-label text-light">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="{{ customer[3].email if customer else '' }}" required>
      </div>
      <div class="mb-3">
          <label for="phone" class="form-label text-light">Phone</label>
          <input type="text" class="form-control p53" id="phone" name="phone" value="{{ customer[4].phone if customer else '' }}" required>
      </div>
      <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-danger">{{ 'Update' if customer else 'Add' }} Customer</button>
      </div>

  </form>
  {% for message in get_flashed_messages() %}
  <script>
    $(document).ready(function(){
      $('#successModal').modal('show');
    });
  </script>
{% endfor %}
{% endblock %}
