{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of books-->
<div class="container-zone mt-5 justify-content-center mx-5">
<h2 class='text-danger text-center'> Make a booking</h2>

<p>
<form action="/booking/add" method="POST">
<label for="bookingdate" class="text-light">Start Date to be booked</label>
<input type="text" enabled="false" name="bookingdate" value="{{bookingdate}}"/>
<br>
<input type="hidden" name="bookingnights" value="{{bookingnights}}"/>
<input type="hidden" name="occupancy" value="{{occupancy}}"/>
<label for="customer" class="text-light">Customer to book for</label>
<select name="customer">
    {% for customer in customerlist %} 
    <option value="{{customer[0]}}">{{customer[1]}} {{customer[2]}}</option>
    {% endfor %}
</select><br>
<label for="site" class="text-light">Site to select</label><br>
<!-- radio button loop -->
{% for site in sitelist %}
<input type="radio" name="site" value="{{site[0]}}"> {{site[0]}} - {{site[1]}} occupancy </input><br>
{% endfor %}

<br>
<input type="submit"/>
</form>
</div>
{% endblock %}