{% extends "base.html" %}
{% block content %}
<div class="container-zone mt-5 justify-content-center mx-5">
  <h2 class="text-danger text-center"> Camper List</h2>

<!-- Insert code to loop over the list of campers and display them -->
<div class="list-group my-4">
  {% for camper in camperlist %}
    <a href="#" class="list-group-item list-group-item-action text-light m-5">
      Name: {{ camper.name }} - Site: {{ camper.site }} - Date: {{ camper.date }}
    </a>
  {% else %}
    <div class="list-group-item">No campers found for this date.</div>
  {% endfor %}
</div>
</div>

{% endblock %}