{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of books-->
<div class="container mt-4">
  <h2 class="text-danger"> Who is camping?</h2>
  <h3 class="mb-3">Choose the date you'd like to view who is camping.</h3>
  <form action="{{ url_for('campers') }}" method="POST" class="mb-4">
      <input type="date" class="form-control" value="{{ currentdate }}" name="campdate" required>
      <button type="submit" class="btn btn-danger mt-2">Submit</button>
  </form>
</div>

{% endblock %}