{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-9">
  <h2 class=" text-danger text-center">Search Customers</h2>
  <form action="{{ url_for('search_customers') }}" method="post" class="m-5 " >
      <div class="mb-2">
          <!--<label for="search" class="form-label text-light">Customer Name:</label>-->
          <input type="text" class="form-control " id="search" name="search" placeholder="Customer First Name or Family Name or a letter">
      </div>
      <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-danger btn-outline-successprimary justify-content-center fs-6 w-25 mt-3">Search</button>
      </div>
  </form>
</div>
</div>
</div>
{% if results %}
    <h3 class=" text-light text-center m-3">Search results<br /><br />Please click on Edit if you like to edit customer information</h3>
    <div class="container-zone m-5 justify-content-center">
    <table class='table table-dark'>
        <tr>
            <th class=" text-light text-center">First Name</th>
            <th class=" text-light text-center">Family Name</th>
            <th class=" text-light text-center">Email</th>
            <th class=" text-light text-center">Phone</th>
            <th class=" text-light text-center">Edit</th>
        </tr>
        {% for customer in results %}
        <tr>
            <td class=" text-light text-center">{{ customer[1] }}</td>
            <td class=" text-light text-center">{{ customer[2] }}</td>
            <td class=" text-light text-center">{{ customer[3] }}</td>
            <td class=" text-light text-center">{{ customer[4] }}</td>
            <td class=" text-light text-center"><a class=" text-danger fs-5" href="{{ url_for('add_edit_customer', id=customer[0]) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
{% if message %}
<h3 class=" text-light text-center">{{ message }}</h3>
{% endif %}
{% endif %}
{% endblock %}
