{% extends "base.html" %}
{% block content %}
<!--search customers -->
<div class="container-zone mt-5 justify-content-center mx-5">
    <h2 class=" text-danger text-center">Search Customers</h2>
    <form action="{{ url_for('search_customers') }}" method="post" class="mt-4">
        <div class="mb-3">
            <label for="search" class="form-label text-light">Customer Name:</label>
            <input type="text" class="form-control" id="search" name="search">
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger">Search</button>
        </div>
    </form>
<!-- Display the search result: show firstname, familyname, email and phone for each customer-->
    {% if results %}
    <div class="list-group mt-3">
        {% for customer in results %}
        <a href="{{ url_for('add_edit_customer', id=customer.id) }}" class="list-group-item list-group-item-action">
            {{ customer.firstname }} {{ customer.familyname }} - {{ customer.email }} - {{ customer.phone }}
        </a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
