{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-danger text-center">Search Camper</h2>
      <h4 class=" text-light text-center m-1">Please note that the report will display information for<br /> only one customer, <br />showing statistics exclusively for that customer.</h4>

      <form action="{{ url_for('search_camper') }}" method="post" class="m-5">
        <div class="mb-2">
            <input type="text" class="form-control" id="search" name="search" title="Please enter a full first name, family name or customer ID" placeholder="Customer First Name or Family Name or Customer ID" required>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger justify-content-center w-25 mt-3">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% if report %}
<div class="container-zone m-5 justify-content-center">
  <h3 class="text-danger text-center m-2">Search result</h3>
  <table class='table table-dark'>
    <thead>
      <tr>
        <th class="text-light text-center">Customer ID</th>
        <th class="text-light text-center">First Name</th>
        <th class="text-light text-center">Family Name</th>
        <th class="text-light text-center">number of Nights Booked</th>
        <th class="text-light text-center">Average Booking Occupancy</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-light text-center">{{ report[0] }}</td>
        <td class="text-light text-center">{{ report[1] }}</td>
        <td class="text-light text-center">{{ report[2] }}</td>
        <td class="text-light text-center">{{ report[3] }}</td>
        <td class="text-light text-center">{{ report[4] }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% else %}
{% if message %}
<h3 class="text-light text-center">{{ message }}</h3>
{% endif %}
{% endif %}
{% endblock %}
